@model DEPTAT.Application.Profiles.ApplicationUser


<div class="row clearfix">
	<!-- Task Info -->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="card">
			<div class="header">
				<h2>EDIT USER</h2>
			</div>
			<div class="body">
				<form method="post" asp-action="Edit">
					<input asp-for="@Model.Id" hidden />
					<hr />
					<div asp-validation-summary="All" class="text-danger"></div>

					<div class="form-group">
						<label asp-for="Name"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="Email"></label>
						<input asp-for="Email" readonly class="form-control" />
						<input asp-for="Email" hidden />
					</div>
					<div class="form-group">
						<label asp-for="RoleId"></label>
						<select asp-for="RoleId" asp-items="@Model.RoleList" class="form-control">
							<option disabled selected>--Select Role--</option>
						</select>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Update</button>
						<a asp-action="Index" class="btn btn-warning" style="width:auto">Back to User</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- #END# Task Info -->

</div>

					