@if (SignInManager.IsSignedIn(User))
{
<aside id="leftsidebar" class="sidebar">
<!-- User Info -->

    <div class="user-info">
        <div class="image">
            @*<img src="images/user.png" width="48" height="48" alt="User" />*@
        </div>
        <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User).ToUpper()</div>

        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
    <ul class="list">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active">
        <a asp-controller="Home" asp-action="Dashboard">
            <i class="material-icons">dashboard</i>
            <span>Dashboard</span>
        </a>
    </li>
  
    @if (User.IsInRole("Invigilator") || User.IsInRole("Examiner") || User.IsInRole("Admin"))
    {
        <li>
            <a href = "javascript:void(0);" class = "menu-toggle">
                <i class = "material-icons">library_books</i>
                <span>Examination</span>
            </a>
            <ul class = "ml-menu">
                <li>
                    <a asp-controller = "Examination" asp-action = "Attendance">Take Attendance</a>
                </li>
                <li>
                    <a asp-controller = "Examination" asp-action = "Index">Check Status</a>
                </li>


            </ul>
        </li>
    }
    @if ( User.IsInRole("Examiner") || User.IsInRole("Admin") || User.IsInRole("Account"))
    {
        <li>
            <a href = "javascript:void(0);" class = "menu-toggle">
                <i class = "material-icons">library_books</i>
                <span>Account</span>
            </a>
            <ul class = "ml-menu">
                @if (User.IsInRole("Admin") || User.IsInRole("Account"))
                {
                    <li>
                        <a asp-controller = "Debtors" asp-action = "Index">Load Data</a>
                    </li>
                }
                <li>
                    <a asp-controller = "Examination" asp-action = "ClockStudent">Clock Attendance</a>
                </li>
                <li>
                    <a asp-controller = "Examination" asp-action = "ViewOTP">View OTPs</a>
                </li>

            </ul>
        </li>
    }

    @if (User.IsInRole("Examiner") || User.IsInRole("Admin") || User.IsInRole("Account"))
    {
        <li>
            <a href = "javascript:void(0);" class = "menu-toggle">
                <i class = "material-icons">layers</i>
                <span>Students</span>
            </a>
            <ul class = "ml-menu">
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a asp-controller = "Student" asp-action = "Index">Add</a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Account") || User.IsInRole("Examiner"))
                {
                    <li>
                        <a asp-controller = "Student" asp-action = "Detailed">Manage</a>
                    </li>
                }
            </ul>
        </li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li>
            <a href = "javascript:void(0);" class = "menu-toggle">
                <i class = "material-icons">swap_calls</i>
                <span>Details and Exports</span>
            </a>
            <ul class = "ml-menu">
                <li>
                    <a asp-controller = "Department" asp-action = "Detailed">Department</a>
                </li>
                <li>
                    <a asp-controller = "Programme" asp-action = "Detailed">Programme</a>
                </li>
                <li>
                    <a asp-controller = "Course" asp-action = "Detailed">Course</a>
                </li>

            </ul>
        </li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li>
            <a href = "javascript:void(0);" class = "menu-toggle">
                <i class = "material-icons">settings</i>
                <span>Settings</span>
            </a>
            <ul class = "ml-menu">
                <li>
                    <a asp-controller = "YearGroup" asp-action = "CreateYearGroup">Year Group</a>
                </li>
                <li>
                    <a asp-controller = "AcademicYear" asp-action = "Index">Academic Year</a>
                </li>
                <li>
                    <a asp-controller = "Faculty" asp-action = "Index">Add Faculty</a>
                </li>
                <li>
                    <a asp-controller = "Department" asp-action = "Index">Add Department</a>
                </li>
                <li>
                    <a asp-controller = "Programme" asp-action = "Index">Add Programmes</a>
                </li>
                <li>
                    <a asp-controller = "Course" asp-action = "Index">Add Course</a>
                </li>


            </ul>
        </li>
        <li>
            <a href = "javascript:void(0);" class = "menu-toggle">
                <i class = "material-icons">view_list</i>
                <span>User Account</span>
            </a>
            <ul class = "ml-menu">
                <li>
                    <a asp-controller = "Account" asp-action = "Register">Create Users</a>
                </li>
                <li>
                    <a asp-controller = "User" asp-action = "Index">Manage Users</a>
                </li>
                <li>
                    <a asp-controller = "Roles" asp-action = "Index">Roles</a>
                </li>
            </ul>
        </li>
    }
    <li>
        <a asp-controller="Account" asp-action="Signout">
            <i class="material-icons">settings_power</i>
            <span>Sign Out</span>
        </a>
    </li>
    <li>
        
    </li>
    </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; @DateTime.Now.Year <a href="">Projects</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.5
        </div>
    </div>
    <!-- #Footer -->
</aside>
}