<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | DEPT & Exams Attendance</title>
    <!-- Favicon-->
    
    @await Html.PartialAsync("_LinkCSS")
    </head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader" id="load">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->

    <h1 id="base_url" hidden>@Url.Content("~")</h1>

@await Html.PartialAsync("_Search")
    <!-- #END# Search Bar -->
<!-- Top Bar -->
@await Html.PartialAsync("_Navbar")
   
    <!-- #Top Bar -->
    <section>
    <!-- Left Sidebar -->
    @await Html.PartialAsync("_Asidebar")
    

        <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    @await Html.PartialAsync("_RightAside")
        
        <!-- #END# Right Sidebar -->
    </section>

<section class = "content">
@RenderBody()

</section>
   @await Html.PartialAsync("_LinkJs")
@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
